@tailwind base;
@tailwind components;
@tailwind utilities;

body * {
  background-color: inherit;
  border-color: inherit;
  color: inherit;
}

body dialog {
  filter: url('/noise.svg#grain') blur(0.6px) contrast(120%) brightness(120%);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}